.downloads-column {
	width: 50%;
	float: left;
}

.downloads-column ul {
	list-style-type: square;
	list-style-position: inside;
}

.downloads-column li {
	padding-top: 10px;
}

.inner li {
	padding-left: 20px;
	list-style-type: circle;
	padding-top: 0px;
}

.downloads-column form {
	padding: 20px 0;
}
