/* styles for footer */
#footer {
	padding: 20px 0;
	font-size: 14px;
	color: #aaa;
	line-height: 1.3;
}

#footer-left {
	float: left;
}

#footer-right {
	float: right;
}

#footer-right span, #footer-left span {
	clear: both;
	float: left;
}
