/* styles for home page */
#homepage-image {
	margin: auto;
	display: block;
	height: 351px;
	padding: 36px 0 44px;
}

#blurb {
	width: 100%;
}

#homepage-line {
	padding-bottom: 40px;
}

.homepage-column {
	width: 50%;
	float: left;
}

.homepage-column span {
	float: left;
	clear: both;
	padding-bottom: 20px;
}
