/* styles for home page */
#blurb {
	width: 100%;
}

#homepage-image {
	margin: auto;
	display: block;
	height: 351px;
	padding: 36px 0 44px;
}

#homepage-line {
	padding-bottom: 40px;
}

.homepage-column {
	width: 50%;
	float: left;
	font-size: 16px;
}

.homepage-column ul {
	list-style-type: square;
	list-style-position: inside;
}

.homepage-column li {
	padding-bottom: 10px;
}

#contact {
	padding-top: 30px;
}

.homepage-column span {
	float: right;
	font-size: 12px;
}
