/* styles for home page */
#blurb {
	width: 100%;
}

#homepage-images {
	padding: 36px 0 44px;
	float: left;
	width: 100%;
}

#homepage-main-image {
	float: left;
	height: 351px;
}

#cgsb-logo {
	float: left;
	padding-right: 118px;
}

#nyu-logo {
	float: right;
}

#homepage-line {
	padding-bottom: 40px;
}

#contact {
	padding-top: 30px;
}

.homepage-column span {
	float: right;
	font-size: 12px;
}
