/* styles for network page */
#container {
	position: relative;
}

#network {
	width: 100%;
	min-height: 696px;
}

#container a {
	position: absolute;
	width: 60px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: black;
}
