/* styles for network page */
#container {
	position: relative;
}

#network {
	width: 100%;
	margin-top: -30px;
	min-height: 696px;
}

#container a {
	position: absolute;
	width: 60px;
	text-align: center;
	font-size: 13px;
	color: black;
}
