/* styles for network page */
#container {
	position: relative;
}

#network {
	width: 100%;
	min-height: 747px;
	border: 1px solid gray;
}

#container a {
	position: absolute;
	width: 60px;
	text-align: center;
	font-size: 13px;
	color: black;
}
