/* styles for spatiotemporal page (note for matrix styles, see matrix.css) */
#spatiotemporal td, #spatiotemporal th.timepoint, #spatiotemporal th.compartment {
	cursor: pointer;
}

#spatiotemporal-both {
	width: 200px;
	float: left;
	table-layout: fixed;
}

.header-emphasis {
	font-weight: bold;
	text-transform: capitalize;
}

/* spatiotemporal gradient */
.color9 {
	background: #0E2426;
}

.color8 {
	background: #1C484D;
}

.color7 {
	background: #2A6C74;
}

.color6 {
	background: #38919B;
}

.color5 {
	background: #54A0A9;
}

.color4 {
	background: #70B0B7;
}

.color3 {
	background: #8DC0C5;
}

.color2 {
	background: #A9CFD4;
}

.color1 {
	background: #C6DFE2;
}
