/* PAGE LAYOUT */
html, body {
	min-width: 100%;
	margin: 0;
}

div#wrap_header, div#wrap_content, div#wrap_footer {
	width: 100%;
	clear: both;
	float: left;
	min-width: 1000px;
}

div#wrap_header {
	background: white;
	border-bottom: 2px solid black;
}

div#wrap_content {
	background: #f8f8f4;
}

div#wrap_footer {
	background: black;
}

div#header, div#content, div#footer {
	width: 960px;
	margin: 0 auto;
}

/* GLOBAL STYLES, including linkes, titles, fonts */

/* add to parent elements when their children are floating
and parent needs to expand to the children's size. */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #A60000;
}

a:hover {
	color: #FF7373;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 40px;
	font-family: perpetua, palatino, serif;
	font-weight: normal;
	margin: 0px;
}

h2 {
	font-size: 36px;
	font-family: perpetua;
	font-weight: normal;
	margin: 0;
	padding-bottom: 20px;
}

/* HEADER, including MENU */
div#header {
	padding: 20px 0;
}

div#menu {
	float: left;
	width: 100%;
	margin-top: 30px;
}

div#menu a {
	color: #A60000;
	font-size: 20px;
	/*font-variant: small-caps;
	letter-spacing: 1px;*/
	margin-right: 30px;
	padding-bottom: 5px;
	float: left;
}

div#menu a.active, div#menu a:hover {
	border-bottom: 2px solid #A60000;
}

div#menu a.active:hover {
	cursor: default;
}

/* CONTENT */
div#content {
	padding-top: 20px;
	min-height: 500px;
}

/* FOOTER */
div#footer {
	padding: 20px 0;
	font-size: 14px;
	color: #aaa;
}

/* Specific to HOMEPAGE */
img#network {
	width: 100%;
	margin: 0 auto;
}

ul#protein_list li {
}

/* Specific to CONTACT page */
div.contact_block span {
	margin: 0 0 20px 0;
}
