/* GLOBAL STYLES, including linkes, titles, fonts */

/* add to parent elements when their children are floating
and parent needs to expand to the children's size. */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.rotate {
	white-space: nowrap;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	
	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	
	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

body {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #A60000;
}
a:hover {
	color: #FF7373;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

th {
	font-weight: normal;
}


h1 {
	font-size: 36px;
	font-family: perpetua, palatino, serif;
	font-weight: normal;
	margin: 0px;
}

h2 {
	font-size: 30px;
	font-family: perpetua, palatino, serif;
	font-weight: normal;
	margin: 0;
	clear: both;
}

h3 {
	font-size: 30px;
	font-family: perpetua, palatino, serif;
	font-weight: normal;
	margin: 0;
	padding-bottom: 10px;
}

/* PAGE LAYOUT */
html, body {
	min-width: 100%;
	margin: 0;
}

div#wrap_header, div#wrap_content, div#wrap_footer {
	width: 100%;
	clear: both;
	float: left;
	min-width: 1000px;
}

div#wrap_header {
	background: white;
	padding: 24px 0 19px 0;
	position: relative; /* to accept z-index */
	z-index: 1;
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

div#wrap_content {
	background: #f8f8f4;
	padding: 24px 0;
}

div#wrap_footer {
	background: black;
}

div#header, div#content, div#footer {
	width: 980px;
	margin: 0 auto;
}

/* HEADER, including MENU */
div#menu {
	float: left;
	width: 100%;
	margin-top: 24px;
}

div#menu a {
	color: #A60000;
	font-size: 20px;
	margin-right: 36px;
	padding-bottom: 5px;
	float: left;
	border-bottom: 2px solid white; /* for spacing when none active */
}
div#menu a.active, div#menu a:hover {
	border-bottom: 2px solid #A60000;
}
div#menu a.active:hover {
	cursor: default;
}

/* CONTENT */
div#content {
	min-height: 200px;
}

div.one_column {
	padding: 20px 0;
}

div.two_column {
	width: 50%;
	float: left;
	padding: 20px 0;
}

/* FOOTER */
div#footer {
	padding: 20px 0;
	font-size: 14px;
	color: #aaa;
}

/* Specific to HOMEPAGE */
div.bubble {
	width: 100%;
	padding: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid gray;
}

span.homepage {
	float: left;
	clear: both;
	padding: 10px 0;
}

/* Specific to NETWORK PAGE */
img#network {
	width: 100%;
	margin: 0 auto;
}

/* MATRIX */
table#matrix {
	width: 100%;
	border-spacing: 0;
	table-layout: fixed;
}

td, th {
	text-align: center;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow:ellipsis;
}

th.top_row {
	border-top: 1px solid gray;
}	

th.left_column {
	border-left: 1px solid gray;
}

th.axis_title {
	background: #8fd401;
	font-size: 18px;
}

th.axis_subtitle {
	background: #25D401;
	font-size: 16px;
}

th.no_bottom_border {
	border-bottom: none;
}

th.no_right_border {
	border-right: none;
}
