<!DOCTYPE html>
<html lang="en">
<head>
	<link href="{{ STATIC_URL }}images/favicon.ico" rel="icon" type="image/x-icon">
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/skin/minimalist.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/matrix.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/flowplayer.min.js"></script>
	<title>Early Embryo Localizome</title>
</head>

<body>
	<div id="wrap_header">
		<div id="header" class="clearfix">
			<!-- Site Title -->
			<img src="{{ STATIC_URL }}images/ee-logo.png">
			<h1>Early Embryo Localizome</h1>
			
			<!-- MENU -->
			<div id="menu">
				{% url website.views.home as url_home %}
				{% url website.views.protein_list as url_protein_list %}
				{% url website.views.spaciotemporal_search as url_spaciotemporal_search %}
				{% url website.views.network as url_network %}
				<a href="{{ url_home }}" {% if request.path == url_home %}class="active"{% endif %}>Home</a> 
				<a href="{{ url_protein_list }}" {% if request.path == url_protein_list %}class="active"{% endif %}>Protein List</a>
				<a href="{{ url_spaciotemporal_search }}" {% if request.path == url_spaciotemporal_search %}class="active"{% endif %}>Spaciotemporal Search</a>
				<a href="{{ url_network }}" {% if request.path == url_network %}class="active"{% endif %}>Network</a>
			</div>
		</div>
	</div>
	
	<div id="wrap_content">
		<div id="content">
			<!-- PAGE TITLE.. h2 or h3 based on clear or no-clear -->
			{% block page_title %}{% endblock %}

			<!-- REST OF CONTENT -->
			{% block content %}{% endblock %}
		</div>
	</div>

	<!-- FOOTER -->
	<div id="wrap_footer">
		<div id="footer">
			Data: <a href="" target="_blank">Miyeko Mana</a> and <a href="http://biology.as.nyu.edu/object/FabioPiano.html" target="_blank">Fabio Piano</a>, Center for Genomics and Systems Biology, NYU, 2009-2013. 
			Website: Katherine Erickson on <a href="https://github.com/katur/localizome" target="_blank">GitHub</a>, 2013
		</div>
	</div>
</body>
</html>
