{% extends "base.html" %}

{% block page_title %}
        Contact
{% endblock %}

{% block content %}
<div class="contact_block">
	<span>Contact primary author Dr. Miyeko Mana at:&nbsp;&nbsp;miyeko.mana < at > gmail.com</span><br>
	<span>The laboratory of Dr. Fabio Piano</span><br>
	<span>Center for Genomics and Systems Biology, New York University</span>
</div>

<h2>Downloads</h2>

<div class="contact_block">
	<span>The paper</span><br>
	<span>The matrices in Excel format</span><br>
	<span>The compressed videos en masse (individual videos can be downloaded on indivual protein pages)</span>
</div>
{% endblock %}
