{% extends "base.html" %}

{% block page_title %}
        Downloads
{% endblock %}

{% block content %}
<div class="content_block">
	<a class="bubble" href="http://www.pnas.org/content/early/2012/09/14/1211286109.short?rss=1&amp%3bssource=mfr" target="blank"><i>The title of the paper</i>, PNAS</a>
	<a class="bubble" href="">Download all matrices in Excel format</a>
	<a class="bubble_right" href="">Download the compressed videos en masse*</a>
<span>*individual videos can be downloaded on <a href="{% url website.views.protein_list %}">protein pages</a></span>
</div>

<h2 class="repeat">Contact</h2>

<div class="content_block">
	<a class="bubble" href="mailto:lalala" target="blank">Dr. Miyeko Mana <!--&nbsp;&nbsp;miyeko.mana < at > gmail.com--></a>
	<a class="bubble" href="http://gunsalus-piano.bio.nyu.edu" target="blank">Dr. Fabio Piano's lab</a>
	<a class="bubble_right" href="http://cgsb.as.nyu.edu/page/home" target="blank">Center for Genomics and Systems Biology, New York University</a>
</div>

{% endblock %}
