{% extends "base.html" %}

{% block page_title %}
<h2>Downloads</h2>
{% endblock %}

{% block content %}
	<div class="downloads-column">
		<h4>Use dropdown for protein-specific downloads:</h4>
		<select name="protein" data-path="{% url 'website.views.downloads' %}">
			<option>Select a protein</option>
			{% for p in proteins %}
				<option value="{{ p }}" {% if p = protein %}selected="selected"{% endif %}>
					{{ p|upper }}
				</option>
			{% endfor %}
		</select>

		{% if protein %}
			<div class="shaded-box protein-downloads">
				<h4>{{ protein|upper }}</h4>
				{% for video in videos %}
					<ul>
						<li>movie {{ video.movie_number }}</li>
						<ul class="inner">
							<li>
								<a href="{{ STATIC_URL }}videos/avi/{{ video.filename }}.avi" target="_blank">
									avi
								</a>
							</li>
							<li>
								<a href="{{ STATIC_URL }}videos/mp4/{{ video.filename }}.mp4" target="_blank">
									mp4
								</a>
							</li>
							<li>
								<a href="{{ STATIC_URL }}videos/ogv/{{ video.filename }}.ogv" target="_blank">
									ogv
								</a>
							</li>
							<li>
								<a href="{{ STATIC_URL }}videos/webm/{{ video.filename }}.webm" target="_blank">
									webm
								</a>
							</li>
							<li>
								<a href="{{ STATIC_URL }}videos/image_sequences_zipped/{{ video.filename }}.zip" target="_blank">
									image sequence (zip)
								</a>
							</li>
						</ul>	
					</ul>
				{% endfor %}
			</div>	
		{% endif %}
	</div>
	
	<div class="downloads-column">
		<h4>Project-wide downloads:</h4>
		<ul> 
			<li><a href="{{ STATIC_URL }}project_wide_downloads/localizome_avi_videos.zip" target="_blank">zip archive of all ALL avi videos (782MB)</a></li>
			<li><a href="{{ STATIC_URL }}project_wide_downloads/localizome_image_sequences.zip" target="_blank">zip archive of ALL image sequences (3.75GB)</a></li>
			<li><a href="{{ STATIC_URL }}project_wide_downloads/localizome.sql" target="_blank">MySQL database</a></li>
			<li><a href="{{ STATIC_URL }}project_wide_downloads/localizome.xls" target="_blank">excel file of original matrices</a></li>
			<li><a href="{{ STATIC_URL }}project_wide_downloads/localizome_merge_matrices.zip" target="_blank">zip archive of csv merge matrices</a></li>
		</ul>
	</div>

{% endblock %}
