<div id="wrap-footer">
	<div id="footer">
		<div id="footer-left">
			Data:
			Miyeko Mana,
			Kahn Rhrissorrakrai,
			and 
			<a href="http://biology.as.nyu.edu/object/FabioPiano.html" target="_blank">Fabio Piano</a>
			<br>
			<a href="http://cgsb.as.nyu.edu/" target="_blank">Center for Genomics and Systems Biology</a>,
			NYU,
			2009-2013
		</div>
		<div id="footer-right">
			Website:
			<a href="http://www.katherineerickson.com/" target="_blank">Katherine Erickson</a>
			<br>
			code on <a href="https://github.com/katur/localizome" target="_blank">GitHub</a>,
			2013
		</div>	
	</div>
</div>
