<head>
	<link href="{{ STATIC_URL }}images/favicon.ico" rel="icon" type="image/x-icon">
	<link href="{{ STATIC_URL }}css/universal.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/protein_list.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/protein_detail.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/spatiotemporal.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/network.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/downloads.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/matrix.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/header.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/footer.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}johndyer-mediaelement-b81a0d3/mediaelementplayer.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}johndyer-mediaelement-b81a0d3/mediaelement-and-player.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/localizome.js"></script>
	<title>EE Localizome</title>
</head>
