{% extends "base.html" %}

{% block content %}
<div id="blurb" class="increase-line-height">
	The Early Embryo Localizome project examines 100 GFP-fused proteins in their native cellular environments during the first two rounds of mitotic cell division in the <i>C. elegans</i> developing embryo.
</div>

<img id="homepage-image" src="{{ STATIC_URL }}images/homepage.png" >

<hr id="homepage-line"></hr>

<div class="homepage-column">
	<h3>Paper</h3>
	<a href="" target="_blank"><i>The title of the paper</i></a>, Miyeko Mana, ..., The Journal
	
	<h3 id="contact">Contact</h3>
		corresponding author Dr. Fabio Piano: fp1 < at > nyu.edu
</div>

<div class="homepage-column">
	<h3>Downloads</h3>
	<ul> 
		<li><a href="" target="_blank">zip archive of all .png image sequences*</a></li>
		<li><a href="" target="_blank">zip archive of all videos in .mov format*</a></li>
		<li><a href="" target="_blank">excel document of original matrices</a></li>
		<li><a href="" target="_blank">zip archive of .csv merge matrices</a></li>
		<li><a href="" target="_blank">MySQL database of all matrices</a></li>
	</ul>
	<span>
		* individual videos can be downloaded on 
		<a href="{% url website.views.protein_list %}">protein pages</a>
	</span>
</div>

{% endblock %}
