{% extends "base_matrix.html" %}
{% load website_extras %}


{% block matrix %}
	{% for video_id, matrix in matrices %}
		{% if video_id == "spaciotemporal" %}
			<table class="matrix" id="spaciotemporal">
		{% elif video_id == "merge" %}
			<table class="matrix" data-matrix="merge">
		{% else %}
			<table class="matrix" data-matrix="{{ video_id }}">
		{% endif %}
		
			<tr>
				<th id="defines-compartment-headers-width" class="no-bottom-border no-right-border no-background" colspan="2"></th>
				<th id="defines-compartment-width" class="no-bottom-border no-background"></th>
				<th class="axis-title top-row" colspan="20">Time</th>
			</tr>
			<tr>
				<th class="no-bottom-border no-background" colspan="3"></th>
				<th class="axis-subtitle" colspan="8">1-Cell</th>
				<th class="axis-subtitle" colspan="6">AB</th>
				<th class="axis-subtitle" colspan="6">P1</th>
			</tr>
			<tr>
				<th colspan="3" class="no-background"></th>
				{% for timepoint in timepoints %}
					<th class="timepoint" data-hover-tag="{{ timepoint.name }}" data-id="{{ timepoint.id }}">
						{{ timepoint.short_name }}
					</th>
				{% endfor %}
			</tr>
			
			{% for row in matrix %}
				<tr>
					{% ifequal forloop.counter 1 %}
						<th class="axis-title left-column" rowspan="22">
							<div class="rotate rotate-title">Sub-Cellular Compartment</div>
						</th>
						<th class="axis-subtitle" rowspan="4">
							<div class="rotate rotate-peri">Periphery/<br>Membrane</div>
						</th>
					{% endifequal %}
						
					{% ifequal forloop.counter 5 %}
						<th class="axis-subtitle" rowspan="13">
							<div class="rotate rotate-cyto">Cytoplasmic</div>
						</th>
					{% endifequal %}
						
					{% ifequal forloop.counter 18 %}
						<th class="axis-subtitle" rowspan="5">
							<div class="rotate rotate-nucl">Nuclear</div>
						</th>
					{% endifequal %}
					
					<th class="compartment" data-hover-tag="{{ compartment_dictionary|get_item:forloop.counter }}" data-id="{{ forloop.counter }}">
						{{ compartment_dictionary_short|get_item:forloop.counter }}
					</th>
							
					{% for signal in row %}
						<td 
							{% ifequal video_id "spaciotemporal" %}
								{% if signal >= 1 and signal <= 5 %}
									class="color1"
								{% elif signal >= 6 and signal <= 10 %}
									class="color2"
								{% elif signal >= 11 and signal <= 15 %}
									class="color3"
								{% elif signal >= 16 and signal <= 20 %}
									class="color4"
								{% elif signal >= 21 and signal <= 30 %}
									class="color5"
								{% elif signal >= 31 and signal <= 40 %}
									class="color6"
								{% elif signal >= 41 and signal <= 50 %}
									class="color7"
								{% elif signal >= 51 and signal <= 60 %}
									class="color8"
								{% elif signal >= 61 and signal <= 70 %}
									class="color9"
								{% endif %}
							{% else %}
								class="strength{{ signal.strength }}"
							{% endifequal %}
						>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	{% endfor %}	
{% endblock matrix %}
