<tr>
	<th id="defines-common-name-width-timepoints" class="no-bottom-border no-right-border no-background" colspan="2"></th>
	<th id="defines-sequence-width-timepoints" class="no-bottom-border no-background"></th>
	<th class="axis-title top-row" colspan="22">Sub-Cellular Compartment</th>
</tr>
<tr>
	<th class="no-background" colspan="3"></th>
	<th class="axis-subtitle" colspan="4">Periphery</th>
	<th class="axis-subtitle" colspan="13">Cytoplasmic</th>
	<th class="axis-subtitle" colspan="5">Nuclear</th>
</tr>
<tr>
	<th class="left-column" colspan="2">
		<b>Common</b>
	</th>
	<th>
		<b>Canonical</b>
	</th>
	{% for compartment in compartments %}
		<th class="timepoint" data-hover-tag="{{ compartment.name }}" data-id="{{ compartment.id }}">
			{{ compartment.extra_short_name }}
		</th>
	{% endfor %}
</tr>
