<div id="menu">
  {% url 'home_url' as home_url %}
  {% url 'protein_list_url' as protein_list_url %}
  {% url 'spatiotemporal_search_url' as spatiotemporal_search_url %}
  {% url 'network_url' as network_url %}
  {% url 'downloads_url' as downloads_url %}

  <a href="{{ home_url }}"
      {% ifequal request.path home_url %}class="active"{% endifequal %}>
    Home
  </a>

  <a href="{{ protein_list_url }}"
      {% ifequal request.path protein_list_url %}class="active"{% endifequal %}>
    Protein List
  </a>

  <a href="{{ spatiotemporal_search_url }}"
      {% ifequal request.path spatiotemporal_search_url %}class="active"{% endifequal %}>
    Spatiotemporal Search
  </a>

  <a href="{{ network_url }}"
      {% ifequal request.path network_url %}class="active"{% endifequal %}>
    Network
  </a>

  <a href="{{ downloads_url }}"
      {% ifequal request.path downloads_url %}class="active"{% endifequal %}>
    Downloads
  </a>
</div>
