{% extends "base.html" %}


{% block page_title %}
	<h2>Network</h2>
{% endblock %}


{% block content %}
	<div id="below-header">
		Click on a node to go to the protein page.
	</div>
	<div id="container">
		<img id="network" src="{{ STATIC_URL }}images/network.png" alt="Network" usemap="#network-map" />
		<map name="network-map" id="network-map">
			{% for protein in proteins %}
				<area	shape="circle" 
					coords="{{ protein.network_x_coordinate }},{{ protein.network_y_coordinate }},21" 
					href="../protein/{{ protein.common_name }}" 
					title="{{ protein.common_name }}" 
					alt="{{ protein.common_name }}"
				/>
				<a style="
					left:{{ protein.network_x_coordinate_adjusted }}px; 
					top:{{ protein.network_y_coordinate_adjusted }}px;"
					href="{% url website.views.protein_detail common_name=protein.common_name %}"
				>
				{{ protein.common_name|upper }}
			</a>
			{% endfor %}
		</map>
	</div>
{% endblock %}
