{% extends "base.html" %}


{% block page_title %}
	<h2>Network</h2>
{% endblock %}


{% block content %}
	<div id="below-header">
		Click on a node to go to the protein page.
	</div>
	<img id="network" src="{{ STATIC_URL }}images/network.png" alt="Network" usemap="#network-map" />
	<map name="network-map" id="network-map">
		<area	shape="circle" coords="65,135,21" href="../protein/hsp-3" title="HSP-3" alt="HSP-3"/>
		<area	shape="circle" coords="465,65,21" href="../protein/gpa-16" title="GPA-16" alt="GPA-16"/>
		<area	shape="circle" coords="875,24,21" href="../protein/W03G9.2" title="W03G9.2" alt="W03G9.2"/>
	</map>
{% endblock %}
