{% extends "matrix.html"%}

{% block page_title %}
	{{ protein.common_name|upper }}
{% endblock %}

{% block prematrix %}
	<div class="two_column">
		{% if protein.sequence != protein.common_name %}
			Sequence: {{ protein.sequence }}<br>
		{% endif %}
		{% if protein.wormbase_id %}
			Wormbase gene ID: {{ protein.wormbase_id}}<br>
		{% endif %}
		Description of protein goes here.
	</div>
	<div class="two_column">
		Video and video meta data go here.
		{% comment %}
		{{ video.date|date:"SHORT_DATE_FORMAT" or "DATE_FORMAT" }}
		{{ video.notes|default:"no notes were taken" }}
		{% endcomment %}
	</div>
{% endblock %}
