{% extends "matrix_full.html" %}


{% block prematrix %}
	<div id="next-to-video">
		<h3>{{ protein.common_name|upper }}</h3>
		<div id="below-protein-name" class="increase-line-height">
			{% if protein.sequence != protein.common_name %}
				Sequence: {{ protein.sequence }}
			{% endif %}
			{% if protein.wormbase_id %}
				<br>WormBase gene ID: 
				<a href="http://www.wormbase.org/species/c_elegans/gene/{{ protein.wormbase_id }}" target="_blank">
					{{ protein.wormbase_id}}
				</a>
			{% endif %}

			<br><br>Click play to watch representative movie.
		</div>
	</div>
	
	<div class="video-wrapper">
		<div class="flowplayer no-volume no-mute" data-swf="{{ STATIC_URL }}swf/flowplayer.swf" data-ratio="0.7">
			<video <!--poster="{{ STATIC_URL }}images/squirrel.jpeg"-->>
			<!--<source type="video/webm" src="http://stream.flowplayer.org/bauhaus/624x260.webm"/>-->
			<source type="video/mp4" src="{{ STATIC_URL }}videos/nathalie.mp4"/>
			<!--<source type="video/ogv" src="http://stream.flowplayer.org/bauhaus/624x260.ogv"/>-->
			</video>
			<span style="color: white">Movie to insert: {{ representative_video.filename }}</span>
		</div>
		<span class="tiny">For download and meta data, select asterisked matrix.</span>
	</div>
	
	
{% endblock prematrix %}


{% block next_to_matrix %}
	<div id="next-to-matrix" class="increase-line-height">
		{% include "matrix_key_normal.html" %}
	
		<div class="below-key">
			Select matrix:
			<ul>
				{% for video in videos %}
					<li>
						<a href="#" data-matrix-link="{{ video.id }}">movie {{ video.movie_number }}</a>{% if video == representative_video %}*{% endif %}
					</li>
				{% endfor %}
				{% if matrices|last|first == 'union' %} {# "union" would be the first element in the last matrix appended to the list #}
					<li>
						<a href="#" data-matrix-link="union">union</a>
					</li>
				{% endif %}
				<li class="tiny">* representative movie</li>
			</ul>
		</div>

		{% for video in videos %}
			<ul class="below-key extra-vertical-spacing full-width" data-matrix-info="{{ video.id }}">
				<li>Strain: {{ video.strain_name }}</li>
				{% if video.vector %}
					<li>Vector: {{ video.vector }}</li>
				{% endif %}
				<li>Scored {{ video.date_scored }}</li>
				<li>Excel sheet: {{ video.excel_id }}</li>	
				
				<li><a href={{ STATIC_URL }}videos/{{ video.filename }}>Download the video</a></li>
				<li class="tiny indent"><b>Filmed</b> {{ video.date_filmed }}</li>
				<li class="tiny indent"><b>Lens:</b> {{ video.lens }}</li>
				<li class="tiny indent"><b>Mode:</b> {{ video.mode }}</li>
			</ul>			
		{% endfor %}
	</div>
{% endblock next_to_matrix %}


{% block below_matrix %}
	{% for video in videos %}
		<div data-matrix-summary="{{ video.id }}" {% if video == representative_video %} data-matrix-summary-rep="{{ video.id }}"{% endif %}>
			<h4>Summary</h4>
			{{ video.summary }}
		</div>
	{% endfor %}
{% endblock below_matrix %}
