{% extends "base.html" %}

{% block page_title %}
	<h2>Protein List</h2>
{% endblock %}

{% block content %}
	<table class="protein-list">
		<tr>
			<th>Common</th><th>Canonical</th>
		</tr>
		{% for protein in proteins %}
		<tr>
			<td><a href="{{ protein.get_absolute_url }}">{{ protein.common_name|upper }}</a></td>
			<td>{{ protein.sequence }}</td>
		</tr>
		
		{% if forloop.counter|divisibleby:"26" %}
			</table>
			<table class="protein-list four-columns">
				<tr>
					<th>Common</th><th>Canonical</th>
				</tr>
		{% endif %}
		
		{% empty %}
			Sorry, no proteins in the list.
		{% endfor %}
	</table>
{% endblock %}
