{% extends "base.html" %}


{% block page_title %}
	<h2>Protein List</h2>
{% endblock %}


{% block content %}
	<div id="below-header">
		All proteins analyzed in this project.
	</div>
	<div class="shaded-box protein-list">
		<table class="protein-list-column">
			<tr>
				<th>Common</th><th>Canonical</th>
			</tr>
			{% for protein in proteins %}
				<tr>
					<td>
						<a href="{% url website.views.protein_detail common_name=protein %}">
							{{ protein|upper }}
						</a>
					</td>
					<td>
						{{ protein.sequence }}
					</td>
				</tr>
			
				{% if forloop.counter|divisibleby:"22" %}
					</table>
					<table class="protein-list-column">
						<tr>
							<th>Common</th><th>Canonical</th>
						</tr>
				{% endif %}
			
			{% empty %}
				Sorry, no proteins in the list.
			{% endfor %}
		</table>
	</div>
{% endblock %}
