{% extends "matrix.html"%}

{% block page_title %}
	<h3>Spaciotemporal Search</h3>
{% endblock %}


{% block prematrix %}
	<div id="above-matrix">
		Click on a compartment, timepoint, or datapoint for list of co-expressed proteins.
	</div>
{% endblock %}


{% block next_to_matrix %}
	<div id="key">
		Key:	
		<table>
			<tr>
				<th class="axis_subtitle left_column top_row">Color</th>
				<th class="axis_subtitle top_row">Number of Proteins</th>
			</tr>
			<tr>
				<td class="left_column"></td>
				<td>none</td>
			</tr>
			<tr>
				<td class="color1 left_column"></td>
				<td>1-5</td>
			</tr>
			<tr>
				<td class="color2 left_column"></td>
				<td>6-10</td>
			</tr>
			<tr>
				<td class="color3 left_column"></td>
				<td>11-15</td>
			</tr>
			<tr>
				<td class="color4 left_column"></td>
				<td>16-20</td>
			</tr>
			<tr>
				<td class="color5 left_column"></td>
				<td>21-30</td>
			</tr>
			<tr>
				<td class="color6 left_column"></td>
				<td>31-40</td>
			</tr>
			<tr>
				<td class="color7 left_column"></td>
				<td>41-50</td>
			</tr>
			<tr>
				<td class="color8 left_column"></td>
				<td>51-60</td>
			</tr>
			<tr>
				<td class="color9 left_column"></td>
				<td>61+</td>
			</tr>
		</table>
	</div>
{% endblock %}


{% block below_matrix %}
{% endblock %}
