{% extends "spaciotemporal_results.html" %}

{% block matrix %}
	<table class="matrix">
		<tr>
			<th class="axis-subtitle top-row left-column">Common</th>
			<th class="axis-subtitle top-row">Canonical</th>
			<th class="axis-subtitle top-row">Signal Strength</th>
		</tr>
		
		{% for signal in signals %}
			<tr>
				<td class="left-column"><a href="{{ signal.protein.get_absolute_url }}">{{ signal.protein|upper }}</a></td>
				<td>{{ signal.protein.sequence }}</td>
				<td width="50" class="strength{{ signal.strength }}">
			</tr>
		{% endfor %}
	</table>
{% endblock matrix %}
