{% extends "matrix_full.html"%}


{% block page_title %}
	<h2>Spaciotemporal Search</h2>
{% endblock page_title %}


{% block prematrix %}
	<div id="below-header">
		Click on a compartment, timepoint, or datapoint for list of co-expressed proteins.
	</div>
{% endblock prematrix %}


{% block next_to_matrix %}
	<div id="next-to-matrix" class="increase-line-height">
		{% include "matrix_key_spaciotemporal.html" %}
		<span style="float: right;">*present or weak</span>
	</div>		
{% endblock next_to_matrix %}
