{% extends "matrix_full.html"%}


{% block page_title %}
	<h3>Spaciotemporal Search</h3>
{% endblock page_title %}


{% block prematrix %}
	<div id="above-matrix">
		Click on a compartment, timepoint, or datapoint for list of co-expressed proteins.
	</div>
{% endblock prematrix %}


{% block next_to_matrix %}
	<div id="key">
		Key:	
		<table>
			<tr>
				<th class="axis-subtitle left-column top-row">Color</th>
				<th class="axis-subtitle top-row"># of Proteins*</th>
			</tr>
			<tr>
				<td class="left-column"></td>
				<td>0</td>
			</tr>
			<tr>
				<td class="color1 left-column"></td>
				<td>1-5</td>
			</tr>
			<tr>
				<td class="color2 left-column"></td>
				<td>6-10</td>
			</tr>
			<tr>
				<td class="color3 left-column"></td>
				<td>11-15</td>
			</tr>
			<tr>
				<td class="color4 left-column"></td>
				<td>16-20</td>
			</tr>
			<tr>
				<td class="color5 left-column"></td>
				<td>21-30</td>
			</tr>
			<tr>
				<td class="color6 left-column"></td>
				<td>31-40</td>
			</tr>
			<tr>
				<td class="color7 left-column"></td>
				<td>41-50</td>
			</tr>
			<tr>
				<td class="color8 left-column"></td>
				<td>51-60</td>
			</tr>
			<tr>
				<td class="color9 left-column"></td>
				<td>61+</td>
			</tr>
		</table>
	</div>
	<span style="float: right;">*present or weak</span>
{% endblock next_to_matrix %}
