{% extends "matrix.html"%}


{% block page_title %}
	<h3>Spaciotemporal Search</h3>
{% endblock %}


{% block prematrix %}
	Click on a compartment, timepoint, or datapoint for list of co-expressed proteins.
{% endblock %}


{% block next_to_matrix %}
	<div id="key">
		Key:	
		<table>
			<tr>
				<th class="axis_subtitle left_column top_row">Color</th>
				<th class="axis_subtitle top_row">Number of Proteins</th>
			</tr>
			<!--{% for color in color_gradient %}
				<tr>
					<td class="strength0 left_column"></td>
					<td>?</td>
				</tr>
				{% endfor %}-->
		</table>
	</div>

<!--	<div class="below-key">
</div> -->
{% endblock %}



{% block below_matrix %}
	{% for video,foo,notes in video_signals_notes_tuple %}
		<div data-matrix-info="{{ video.id }}">
			<h4>Summary</h4>
			{{ video.summary }}
			<ul>
				{% for note in notes %}
					<li>&nbsp;</li>
					<li>Note: {{ note.note }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
{% endblock %}
