{% extends "base.html"%}

{% block page_title %}
<h3>Spaciotemporal Results</h3>
{% endblock %}

{% block content %}
	<div>Compartment: {{ compartment.name }}<br>Timepoint: {{ timepoint.name }}</div>
	<table class="spaciotemporal-list">
		<tr>
			<th class="top-row left-column">Common</th>
			<th class="top-row">Canonical</th>
			<th class="top-row">Signature</th>
		</tr>
		
		{% for signal in signals %}
			<tr>
				<td class="left-column"><a href="{{ signal.protein.get_absolute_url }}">{{ signal.protein|upper }}</a></td>
				<td>{{ signal.protein.sequence }}</td>
				<td width="50" class="strength{{ signal.strength }}">
			</tr>
			
		{% empty %}
			Sorry, no proteins in the list.
			
		{% endfor %}
	</table>
{% endblock %}
