{% extends "spatiotemporal_results.html" %}


{% block matrix %}
	{% if signals %}
		<table id="spatiotemporal-both">
			<tr>
				<th class="top-row left-column"><b>Common</b></th>
				<th class="top-row"><b>Canonical</b></th>
				<th class="narrow no-background no-right-border"></th>
			</tr>
		
			{% for signal in signals %}
				<tr>
					<td class="left-column"><a href="{{ signal.protein.get_absolute_url }}">{{ signal.protein|upper }}</a></td>
					<td>{{ signal.protein.sequence }}</td>
					<td width="50" class="strength{{ signal.strength }}">
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock matrix %}
