{% extends "base.html"%}

{% block page_title %}
	<h2>Spatiotemporal Search</h2>
{% endblock page_title %}

{% block content %}
	<div id="below-header">
		Click on a compartment, timepoint, or cell to view co-expressed proteins.
	</div>
	
	<div id="spatiotemporal" data-path="{% url 'website.views.spatiotemporal_search' %}">
		{% with matrix=spatiotemporal_matrix %}
			{% include "matrix.html" %}
		{% endwith %}
	</div>
	
	<div id="next-to-matrix" class="shaded-box">
		{% include "matrix_key_spatiotemporal.html" %}
	</div>
{% endblock %}
