{% extends "spatiotemporal_results.html" %}

{% block matrix %}
	{% if signals %}
		<table id="spatiotemporal-both">
			<tr>
				<th class="top-row left-column"><b>Common</b></th>
				<th class="top-row"><b>Canonical</b></th>
				<th class="narrow no-background no-right-border"></th>
			</tr>
		
			{% for signal in signals %}
				<tr>
					<th class="left-column y-axis-spatiotemporal-result row-header">
						<a href="{% url website.views.protein_detail common_name=signal.protein %}">
							{{ signal.protein|upper }}
						</a>
					</th>
					<th class="y-axis-spatiotemporal-result row-header">
						{{ signal.protein.sequence }}
					</th>
					<td width="50" class="signal strength{{ signal.strength }}"></td>	
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock matrix %}
